<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>

  <body>
    <!-- index-content -->
    <div class="index-content">
      <!-- left -->
      <div class="index-left">
        <div class="product">
          <img src="/images/logo.png" alt="logo" class="logo" />
          <div class="product-introduction">
            simple, real-time, shared calendar for you and your partner
          </div>
        </div>
      </div>
      <!-- left end-->

      <!-- right -->
      <div class="index-right">
        <div class="signin-container container">
          <div class="signin-title title">sign in</div>
          <input type="text" class="signin-email" placeholder="email" />
          <input
            type="password"
            class="signin-password"
            placeholder="password"
          />
          <button class="signin-button button">sign in</button>
          <div class="signin-WrongMessage wrongMessage"></div>
          <div class="signin-CorrectMessage correctMessage">
            Signin successfully!
          </div>
          <div class="toggleGuideText">
            <p class="accountText">Don't have an account?</p>
            <p class="turnToSignUp turnButton">&nbsp;sign up here!</p>
          </div>
        </div>
        <div class="signup-container container">
          <div class="signup-title title">sign up</div>
          <input type="name" class="signup-name" placeholder="name" />
          <div class="signup-name-hint signup-hint">at most 30 characters</div>
          <input type="text" class="signup-email" placeholder="email" />
          <div class="signup-email-hint signup-hint">at most 30 characters</div>
          <input
            type="password"
            class="signup-password"
            placeholder="password"
          />
          <div class="signup-password-hint signup-hint">
            >8 characters (including both letter and digit, and 1 uppercase
            letter)
          </div>
          <button class="signup-button button">sign up</button>
          <div class="signup-WrongMessage wrongMessage"></div>
          <div class="signup-CorrectMessage correctMessage">
            Signup successfully! Please turn to signin page to login.
          </div>
          <div class="toggleGuideText">
            <p class="accountText">Already have an account?</p>
            <p class="turnToSignIn turnButton">&nbsp;sign in here!</p>
          </div>
        </div>
      </div>
      <!-- right end-->
    </div>
    <!-- content end-->
    <script src="/javascripts/index.js"></script>
  </body>
</html>
