<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="/member.js"></script>
    <script src="/locales-all.global.js"></script>

    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/category.css" />
    <script
      src="https://kit.fontawesome.com/605526aab0.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar"></nav>
    <!-- navbar end-->

    <!-- content -->
    <div class="content">
      <!-- sidebar -->
      <div class="sidebar">
        <div class="searchBar">
          <input type="text" placeholder="查詢行程" class="search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="functionButton addEvent">
          <i class="fa-solid fa-plus"></i>&nbsp;<b>新增行程</b>
        </div>
        <div class="newEvent" style="display: none">
          <div class="title">
            <!-- <div class="subTitle">標題</div> -->
            <input type="text" class="newEvent-title" placeholder="標題" />
          </div>
          <div class="start">
            <div class="subTitle">開始</div>
            <div class="input-container">
              <input type="date" class="newEvent-startDate date" />
              <input type="time" class="newEvent-startTime time" />
            </div>
          </div>
          <div class="end">
            <div class="subTitle">結束</div>
            <div class="input-container">
              <input type="date" class="newEvent-endDate date" />
              <input type="time" class="newEvent-endTime time" />
            </div>
          </div>
          <button class="newEvent-button">新增</button>
        </div>
        <div class="functionButton inviteFriend">
          <i class="fa-solid fa-user-group"></i>&nbsp;邀請朋友
        </div>
        <div class="functionButton addCategory">
          <i class="fa-solid fa-box-open"></i>&nbsp;建立分類
        </div>
      </div>
      <!-- sidebar end-->

      <!-- calendar -->
      <div class="calendar-container">
        <div id="calendar"></div>
      </div>
      <!-- calendar end-->
    </div>
    <!-- content end-->

    <!-- edit-container -->
    <div class="edit-container">
      <h1 class="edit-title title-font">Edit Event</h1>
      <div class="edit-eventName">
        <div class="edit-vertical"></div>
        <input
          class="edit-eventName-input"
          type="text"
          class="newEvent-title"
          placeholder="Event Title"
        />
      </div>
      <div class="edit-time">
        <i class="fa-solid fa-clock"></i>
        <div>
          <!-- <div class="edit-allDay">All-Day</div> -->
          <div class="edit-period">
            <div class="edit-start">
              <input type="date" class="edit-startDate" /><input
                type="time"
                class="edit-startTime"
              />
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <div class="edit-end">
              <input type="date" class="edit-endDate" /><input
                type="time"
                class="edit-endTime"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="edit-çategory">
        <i class="fa-solid fa-box-open"></i>
        <div class="edit-category-content">
          <select name="" id="" class="edit-category-select">
            <option value="" selected="selected">-- options --</option>
          </select>
        </div>
      </div>
      <div class="edit-description">
        <i class="fa-solid fa-pen-to-square"></i>
        <textarea class="edit-description-input"></textarea>
      </div>
      <div class="edit-button">
        <div class="edit-button-item edit-revise">revise</div>
        <div class="edit-button-item edit-delete">delete</div>
      </div>
      <i class="fa-solid fa-xmark"></i>
    </div>
    <!-- edit-container end-->
    <!-- category-container -->
    <div class="category-container">
      <h1 class="category-title title-font">New Category</h1>
      <div class="categoryName">
        <div class="category-vertical"></div>
        <input
          class="categoryName-input"
          type="text"
          placeholder="Category Title"
        />
      </div>
      <div class="categoryColors">
        <div class="categoryColor category1"></div>
        <div class="categoryColor category2"></div>
        <div class="categoryColor category3"></div>
        <div class="categoryColor category4"></div>
        <div class="categoryColor category5"></div>
        <div class="categoryColor category6"></div>
        <div class="categoryColor category7"></div>
        <div class="categoryColor category8"></div>
      </div>
      <button class="category-button">create</button>
      <i class="fa-solid fa-xmark"></i>
    </div>
    <!-- category-container end-->

    <script src="/event.js"></script>
    <script src="/category.js"></script>
  </body>
</html>
