<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="/member.js"></script>
    <script src="/locales-all.global.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="/member.css" />
    <link rel="stylesheet" href="/category.css" />
    <link rel="stylesheet" href="/search.css" />
    <script
      src="https://kit.fontawesome.com/605526aab0.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- content -->
    <div class="content">
      <!-- sidebar -->
      <div class="sidebar">
        <div class="searchBar">
          <input type="text" placeholder="search event" class="search-input" />
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
        <div class="functionButton addEvent">
          <i class="fa-solid fa-plus"></i>&nbsp;new event
        </div>
        <div class="functionButton inviteFriend">
          <i class="fa-solid fa-user-group"></i>&nbsp;invite friend
        </div>
        <div class="functionButton addCategory">
          <i class="fa-solid fa-inbox"></i>&nbsp;new category
        </div>
        <div class="categoryList">
          <div class="categoryList-title"><b>Categories</b></div>
        </div>
      </div>
      <!-- sidebar end-->

      <!-- calendar -->
      <div class="calendar-container">
        <div id="calendar"></div>
      </div>
      <!-- calendar end-->
    </div>
    <!-- content end-->
    <!-- createEvent-container -->
    <div class="createEvent-container">
      <h1 class="createEvent-title title-font">New Event</h1>
      <div class="createEvent-eventName">
        <div class="createEvent-vertical"></div>
        <input
          type="text"
          class="createEvent-eventName-input"
          placeholder="Event Title"
        />
      </div>
      <div class="createEvent-time">
        <i class="fa-solid fa-clock"></i>
        <div>
          <!-- <div class="edit-allDay">All-Day</div> -->
          <div class="createEvent-period">
            <div class="createEvent-start">
              <input type="date" class="createEvent-startDate" /><input
                type="time"
                class="createEvent-startTime"
              />
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <div class="createEvent-end">
              <input type="date" class="createEvent-endDate" /><input
                type="time"
                class="createEvent-endTime"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="createEvent-çategory">
        <i class="fa-solid fa-box-open"></i>
        <div class="createEvent-category-content">
          <select name="" id="" class="createEvent-category-select">
            <option value="" selected="selected">-- options --</option>
          </select>
        </div>
      </div>
      <div class="createEvent-description">
        <i class="fa-solid fa-pen-to-square"></i>
        <textarea class="createEvent-description-input"></textarea>
      </div>
      <div class="createEvent-button">create</div>
      <i class="fa-solid fa-xmark"></i>
    </div>
    <!-- createEvent-container end-->
    <!-- edit-container -->
    <div class="edit-container">
      <h1 class="edit-title title-font">Edit Event</h1>
      <div class="edit-eventName">
        <div class="edit-vertical"></div>
        <input
          class="edit-eventName-input"
          type="text"
          class="newEvent-title"
          placeholder="Event Title"
        />
      </div>
      <div class="edit-time">
        <i class="fa-solid fa-clock"></i>
        <div>
          <!-- <div class="edit-allDay">All-Day</div> -->
          <div class="edit-period">
            <div class="edit-start">
              <input type="date" class="edit-startDate" /><input
                type="time"
                class="edit-startTime"
              />
            </div>
            <i class="fa-solid fa-angles-right"></i>
            <div class="edit-end">
              <input type="date" class="edit-endDate" /><input
                type="time"
                class="edit-endTime"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="edit-çategory">
        <i class="fa-solid fa-box-open"></i>
        <div class="edit-category-content">
          <select name="" id="" class="edit-category-select">
            <option value="" selected="selected">-- options --</option>
          </select>
        </div>
      </div>
      <div class="edit-description">
        <i class="fa-solid fa-pen-to-square"></i>
        <textarea class="edit-description-input"></textarea>
      </div>
      <div class="edit-button">
        <div class="edit-button-item edit-revise">revise</div>
        <div class="edit-button-item edit-delete">delete</div>
      </div>
      <i class="fa-solid fa-xmark"></i>
    </div>
    <!-- edit-container end-->
    <!-- category-container -->
    <div class="category-container">
      <h1 class="category-title title-font">New Category</h1>
      <div class="categoryName">
        <div class="category-vertical"></div>
        <input
          class="categoryName-input"
          type="text"
          placeholder="Category Title"
        />
      </div>
      <div class="category-color-selector">
        <label for="category-colorpicker" class="category-colorpicker-label">
          Color Picker:&nbsp;&nbsp;&nbsp;
        </label>
        <input type="color" id="category-colorpicker" value="#808080" />
      </div>
      <button class="create-category-button">create</button>
      <i class="fa-solid fa-xmark"></i>
    </div>
    <!-- category-container end-->
    <!-- edit-category-container -->
    <div class="edit-category-container">
      <h1 class="edit-category-title title-font">Edit Category</h1>
      <div class="edit-category-categoryName">
        <div class="edit-category-vertical"></div>
        <input
          class="edit-categoryName-input"
          type="text"
          class="editCategory-title"
          placeholder="Category Title"
        />
      </div>
      <div class="edit-category-color-selector">
        <label
          for="edit-category-colorpicker"
          class="edit-category-colorpicker-label"
        >
          Color Picker:&nbsp;&nbsp;&nbsp;
        </label>
        <input type="color" id="edit-category-colorpicker" />
      </div>
      <div class="edit-category-button">
        <div class="edit-category-button-item edit-category-revise">revise</div>
        <div class="edit-category-button-item edit-category-delete">delete</div>
      </div>
      <i class="fa-solid fa-xmark edit-category-close"></i>
    </div>
    <!-- edit-category-container end-->
    <!-- search-result-container -->
    <div class="search-result-container">
      <h1 class="search-result-title title-font">Search Result</h1>
      <i class="fa-solid fa-xmark search-result-close"></i>
    </div>
    <!-- search-result-container end-->

    <script src="/event.js"></script>
    <script src="/category.js"></script>
    <script src="/search.js"></script>
  </body>
</html>
