@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
  box-sizing: border-box;
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}

.index-content {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.index-left {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  width: 85%;
}

.logo {
  width: 500px;
  margin: 0px auto;
  font-size: 120px;
  font-family: "Luckiest Guy", cursive;
  color: rgb(44, 62, 80);
}

.product-introduction {
  color: rgb(145, 145, 145);
  font-family: "Source Serif Pro", serif;
  font-size: 50px;
}

.index-right {
  width: 40%;
  height: 100%;
  background-color: rgb(44, 62, 80);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 30px;
  width: 500px;
  /* height: 500px; */
  border-radius: 10px;
  background-color: white;
}

.signup-container {
  display: none;
}

.title {
  font-size: 54px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.index-right input {
  width: 100%;
  height: 50px;
  display: block;
  padding: 0px 10px;
  border-radius: 5px;
  margin: 10px 0px;
}

.signup-hint {
  display: none;
  color: rgb(255, 106, 0);
}

.button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-size: 24px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: black;
}

.wrongMessage {
  width: 100%;
  display: none;
  text-align: center;
  color: red;
  margin: 0px auto;
}

.correctMessage {
  width: 100%;
  display: none;
  text-align: center;
  color: green;
  margin: 0px auto;
}

.toggleGuideText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountText {
  color: gray;
}

.turnButton {
  cursor: pointer;
}

.turnButton:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
