.category-container {
  display: none;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgb(158, 131, 131);
  background-color: #ffffff;
  z-index: 100;
}

.category-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 10px auto;
}

.categoryName {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 20px;
}

.category-vertical {
  width: 5px;
  height: 25px;
  border-radius: 5px;
  background-color: gray;
  margin-right: 5px;
}

.categoryName-input {
  font-size: 20px;
  border: none;
}

.categoryName-input:focus {
  outline: none;
  /* 去邊框 */
}

.category-color-selector {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}

.category-colorpicker-label {
  cursor: pointer;
}

#category-colorpicker {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
  padding: 1px 2px 0px 2px;
}

.create-category-button {
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: rgb(235, 235, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0px auto;
}

.create-category-button:hover {
  background-color: black;
  color: white;
}

/* ==================================================
              edit-category-container 
===================================================*/

.edit-category-container {
  display: none;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: #ffffff;
  z-index: 100;
}

.edit-category-title {
  margin: 0px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-category-categoryName {
  width: 100%;
  display: flex;
  align-items: center;
}

.edit-category-vertical {
  width: 5px;
  height: 25px;
  background-color: gray;
  border-radius: 5px;
  margin-right: 5px;
}

.edit-categoryName-input {
  width: 100%;
  border: none;
  font-size: 20px;
}

.edit-categoryName-input:focus {
  outline: none;
  /* 去邊框 */
}

.edit-category-color-selector {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}

.edit-category-colorpicker-label {
  cursor: pointer;
}

#edit-category-colorpicker {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
  padding: 1px 2px 0px 2px;
}

.edit-category-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-category-button-item {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  text-align: center;
  margin: 0px 10px;
  cursor: pointer;
}

.edit-category-revise:hover {
  background-color: black;
  color: white;
}

.edit-category-delete:hover {
  background-color: red;
  color: white;
}
