@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
  box-sizing: border-box;
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
}

/* ==================================================
                      navbar 
===================================================*/

.navbar {
  height: 50px;
  width: 100%;
  background-color: white;
  /* box-shadow: 0 30px rgb(200, 200, 198); */
}

/* ==================================================
                    self-setting
===================================================*/

.title-font {
  font-size: 24px;
}

/* ==================================================
                    content
===================================================*/

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 20%;
  padding: 20px;
  /* background-color: rgb(240, 240, 240); */
}

.searchBar {
  height: 40px;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(63, 83, 134);
  border-radius: 10px;
}

.search {
  width: 90%;
  height: 25px;
  border: none;
}

.search:focus {
  outline: none;
  /* 去邊框 */
}

/* 搜尋icon */
.fa-magnifying-glass {
  cursor: pointer;
}

.functionButton {
  width: 100%;
  margin: 10px auto 0px auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* ----- addEvent ----- */
.addEvent {
  background-color: rgb(195, 130, 130);
}

.addEvent:hover {
  background-color: rgb(172, 63, 63);
}

.createEvent-container {
  display: none;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: #ffffff;
  z-index: 1;
}

.createEvent-container .fa-solid {
  margin-right: 20px;
}

.createEvent-container .fa-xmark {
  margin-right: 0px;
}

.createEvent-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 10px auto;
}

.createEvent-eventName {
  width: 100%;
  display: flex;
  align-items: center;
}

.createEvent-vertical {
  width: 5px;
  height: 25px;
  border-radius: 5px;
  background-color: gray;
  margin-right: 5px;
}

.createEvent-eventName-input {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.createEvent-eventName-input:focus {
  outline: none;
  /* 去邊框 */
}

.createEvent-container > div {
  margin-bottom: 20px;
}

.createEvent-startDate,
.createEvent-startTime,
.createEvent-endDate,
.createEvent-endTime {
  cursor: pointer;
  width: 150px;
  height: 35px;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  padding: 0px 8px;
  border: none;
}

.createEvent-time {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 20px;
}

.createEvent-start input,
.createEvent-end input {
  display: block;
}
.createEvent-startTime,
.createEvent-endTime {
  margin-top: 5px;
}
.createEvent-period {
  width: 100%;
  /* padding: 12px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: rgb(240, 240, 240);
  border-radius: 15px; */
}

.fa-angle-right {
  margin: 0px 10px;
}

.createEvent-çategory {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.createEvent-category-select {
  cursor: pointer;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 15px;
  padding: 0px 10px;
  background: rgb(240, 240, 240);
}

.createEvent-description {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.createEvent-description-input {
  width: 355px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  border-color: rgb(200, 200, 200);
}

.createEvent-button {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  text-align: center;
  margin: 0px auto;
  cursor: pointer;
}

.createEvent-button:hover {
  background-color: black;
  color: white;
}

/* ----- inviteFriend ----- */

.inviteFriend {
  background-color: rgb(221, 198, 126);
}

.inviteFriend:hover {
  background-color: rgb(205, 166, 50);
}

/* ----- addCategory ----- */

.addCategory {
  background-color: rgb(173, 218, 207);
}

.addCategory:hover {
  background-color: rgb(51, 190, 160);
}

.calendar-container {
  width: 70%;
  margin: 0px auto;
}

.fc-event-time {
  font-size: 14px;
}

.fc-event-title {
  font-size: 14px;
}

/* ----- categoryList ----- */

.categoryList {
  width: 100%;
  /* height: 300px; */
  /* max-height: 645px; */
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  margin-top: 10px;
  padding: 5px;
}

.categoryList-item {
  position: relative;
  padding: 3px 10px;
  width: 100%;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.categoryList-item:hover {
  background-color: rgb(240, 240, 240);
}

.categoryList-category-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.categoryList-item-dot {
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.categoryList-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.categoryList .fa-square-check-regular {
  display: none;
  margin-left: 5px;
  cursor: pointer;
  z-index: 1;
}

.categoryList .fa-square-check-solid {
  margin-left: 5px;
  cursor: pointer;
  z-index: 1;
}

.categoryList .fa-pen-to-square {
  margin-left: 5px;
  cursor: pointer;
  z-index: 1;
}

/* ==================================================
                  edit-container 
===================================================*/

.edit-container {
  display: none;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: #ffffff;
  z-index: 1;
}

.edit-container > div {
  margin-bottom: 20px;
}

.edit-container .fa-solid {
  margin-right: 20px;
}

.fa-angles-right {
  /* margin-right: 20px; */
  margin-left: 20px;
}

.edit-title {
  margin: 0px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-eventName {
  width: 100%;
  display: flex;
  align-items: center;
}

.edit-vertical {
  width: 5px;
  height: 25px;
  border-radius: 5px;
  /* background-color: green; */
  margin-right: 5px;
}

.edit-eventName-input {
  border: none;
  font-size: 20px;
}
.edit-eventName-input:focus {
  outline: none;
  /* 去邊框 */
}
.edit-time {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.edit-start input,
.edit-end input {
  display: block;
}

.edit-period {
  width: 100%;
  /* padding: 12px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: rgb(240, 240, 240);
  border-radius: 15px; */
}

.edit-çategory {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.fa-box-open {
  width: 18px;
}

.edit-description {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.edit-description-input {
  width: 355px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  border-color: rgb(200, 200, 200);
}

.edit-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.edit-button-item {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  text-align: center;
  margin: 0px 10px;
  cursor: pointer;
}

.edit-revise:hover {
  background-color: black;
  color: white;
}

.edit-delete:hover {
  background-color: red;
  color: white;
}

.edit-category {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.edit-category-content {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.edit-category-content div {
  margin-right: 5px;
}

.fa-xmark {
  font-size: 24px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.fc-event {
  cursor: pointer;
}
.edit-category-select {
  cursor: pointer;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 15px;
  padding: 0px 10px;
  background: rgb(240, 240, 240);
}

.edit-startDate,
.edit-startTime,
.edit-endDate,
.edit-endTime {
  cursor: pointer;
  width: 150px;
  height: 35px;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  padding: 0px 8px;
  border: none;
}

.edit-startTime,
.edit-endTime {
  margin-top: 5px;
}
