.search-result-container {
  display: none;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid gray;
  background-color: #ffffff;
  z-index: 1;
}

.search-result-title {
  margin: 0px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result-event-nums {
  font-weight: bold;
  font-size: 20px;
  margin: 0px 0px 10px 10px;
}

.search-result-event {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(250, 250, 250);
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.search-result-event:hover {
  background-color: rgb(240, 240, 240);
}

.search-result-event-vertical {
  width: 5px;
  height: 50px;
  border-radius: 5px;
  margin-right: 10px;
}

.search-result-event-time {
  color: rgb(130, 130, 130);
  font-size: 14px;
}
.search-result-event-time b {
  color: rgb(120, 120, 120);
  font-size: 14px;
}
